@model List<OnlineBookStore.Models.Book>

<h3 class="mb-4">Books Management</h3>

<a asp-controller="Admin" asp-action="Create" class="btn btn-success mb-3">+ Add New Book</a>

<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookID</td>
                <td>@book.Title</td>
                <td>$@book.Price</td>
                <td>
                 
                    <a asp-area="Admin" asp-controller="Admin" asp-action="Edit" asp-route-id="@book.BookID"
                       class="btn btn-warning btn-sm me-1">Edit</a>

                    <a asp-area="Admin" asp-controller="Admin" asp-action="Delete" asp-route-id="@book.BookID"
                       class="btn btn-danger btn-sm">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
