@model OnlineBookStore.Models.Book

<h2>Add New Book</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    @* <div class="mb-3">
        <label asp-for="AuthorID"></label>
        <input asp-for="AuthorID" class="form-control" />
    </div> *@

    <div class="mb-3">
        <label class="form-label d-flex justify-content-between align-items-center">
            <span>Author</span>

            <a asp-controller="Authors"
               asp-action="Index"
               class="btn btn-sm btn-outline-light">
                Manage Authors
            </a>
        </label>

        <select asp-for="AuthorID"
                class="form-select"
                asp-items="ViewBag.Authors">
            <option value="">-- Select Author --</option>
        </select>

        <span asp-validation-for="AuthorID" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label class="form-label d-flex justify-content-between align-items-center">
            <span>Category</span>

            <a asp-controller="Authors"
               asp-action="Index"
               class="btn btn-sm btn-outline-light">
                <i class="bi bi-people"></i> Authors
            </a>

        </label>

        <select asp-for="CategoryId"
                class="form-select"
                asp-items="ViewBag.Categories">
        </select>
    </div>


    <div class="mb-3">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" min="5" />
    </div>

    <div class="mb-3">
        <label asp-for="Stock"></label>
        <input asp-for="Stock" class="form-control" min="0" />
    </div>

    <div class="mb-3">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
