@{
    ViewData["Title"] = "Order Placed";
}

<div style="text-align:center; margin-top:50px;">
    <h1>✅ Order Placed Successfully</h1>
    <p>Thank you for your order.</p>

    <a href="/Home/Index" class="btn">
        Continue Shopping
    </a>
</div>

